
body{
    margin: 0;
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
}

.container{
    width: 375px;
    margin: 30px auto;
    background-color: antiquewhite;

}


header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header h1 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
}

.profile-pic{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.post-content-warapper{
    display: flex;
    margin: 10px;

}
.post-content-profile{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right:10px;
}
.post-content-text{
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 13px;
}
.post-content-text p{
    margin: 0;
}

.post-user-name{
font-weight: bold;
}
.post-user-address{

}

.post-image img{

}
.post-content-interaction-buttons{
    margin: 10px;
}


.list-interaction-button{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.list-interaction-button li{
    margin: 10px 10px 0 0;
}

.likes{
    font-weight: bold;

}
